/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Gd-1.0.gir
/Gd-1.0.typelib
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libgd.la
/so_locations
/tags
/test-header-bar
/test-revealer
/test-stack
